@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222; 
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 777;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  color: #1a1a1a;
  background-color: #E3E6F3;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 12px;
  font-weight: 500;
  padding: 11px 18px;
  color: #ebeaea;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}


#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.311);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
} 

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px; 
}


#hero {
  background-image: url("LucanValerius.webp");
  background-size: 300px;
  background-repeat: no-repeat ;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}

#hero button {
  background-color: #088178;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-img{
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

#feature .feature-box{
  height: 300px;
  width: 240px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.1);
  border: 2px solid;
  border-radius: 10px;
  margin: 15px 0;
}

#feature .feature-box:hover {
  
  box-shadow: 10px 10px 54px rgba(57, 57, 59, 0.712);
}

#feature .feature-box h6 { 
  display: inline-block;
  margin-top: 40px;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: whitesmoke;
  background-color: #465b52;

}

#feature .feature-box:nth-child(2) h6{
  background-color: rgb(80, 80, 135);
}


#feature .feature-box:nth-child(3) h6{
  background-color: rgb(177, 50, 50);
}


#feature .feature-box:nth-child(4) h6{
  background-color: rgb(184, 135, 31);
}

#feature .flip-container:hover > .feature-box {
  cursor: pointer;
  transform: rotateY(180deg);
}

 #feature .feature-box {
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back{
  backface-visibility: hidden;
}

.back{
  background-color: #1a1a1a;
  transform: rotateY(180deg);
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 5px solid rgb(44, 63, 39);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.4);;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0,1);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  
}

#product1 .pro .des  i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 19px;
  font-weight: 700;
  color: #465b52;
}

#product1 .pro .bag{
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("blacsmith.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

#banner h4 {
  color: #E3E6F3;
  font-size: 16px;
}
#banner h2 {
  color: aliceblue;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ec1919;
}

#banner button:hover {
  background-color: #ec1919;
  color: #E3E6F3;
}

#sm-banner .bannerBox {
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 580px;
  height: 50vh;
}

#sm-banner h4 {
  color: aliceblue;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #E3E6F3;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner p {
  color: #E3E6F3;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#bubble {
position: relative  ;
overflow: hidden;
}

#bubble span {
  position: absolute;
  bottom: -50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(153, 103, 213, 0.68);
  animation: animate 4s linear infinite;
}

#bubble span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}

